body {
	background:url("background.png");
	background-color:darkred;
	margin:0;
	margin-top:0;

	font-family:'open sans',arial,sans-serif;
	color:white;
}

a {color:white; padding-left:30px; text-decoration: none;}
a:hover {color:red;}
a:active {color:darkred;}

ul {
	list-style-type: none;
	display:inline-block;
}

.accent {
	color:red;
	text-align:center;
	line-height:1px;
}

.nav-li {
	display:inline;
}

.socialcontainer {
	d
}

.socialimg {
	display:inline-block;
	vertical-align:middle;
	padding-right:15px;
}
.sociallink {
	display:inline-block;
}

#aboutme {
	width:35%;
	position:absolute;
	top:10%;
	left:5%;
}

#contactme {
	position:absolute;
	top:10%;
	left:55%;
}
