/*
 * General style specifications that apply to all pages.
 */
body {
	background:url("background.png");
	background-color:darkred;
	margin:0;
	margin-top:0;

	font-family:'open sans',arial,sans-serif;
	color:white;
}

a {color:white; padding-left:30px; text-decoration: none;}
a:hover {color:red;}
a:active {color:darkred;}

ul {
	list-style-type: none;
	display:inline-block;
}

#activePage {
	/*color:darkred;*/
	text-decoration: underline;
}

/*
 * Styles for the Home page.
 */
.words {
	color:white;
	text-align:center;
}

.accent {
	color:red;
	text-align:center;
	line-height:1px;
}

.project {
	text-align:center;
	display:inline-block;
	padding:50px;
	list-style-type: none;
}

#welcome {
	height:100%;
	padding:0;
}

#intro {
	padding-top:10%;
	padding-bottom:22%;
}

#portfolio {
	text-align:center;
}

/*
 * Styles for the About Me Page.
 */
.socialimg {
	display:inline-block;
	vertical-align:middle;
	padding-right:15px;
}
.sociallink {
	display:inline-block;
}

#aboutme {
	width:35%;
	position:absolute;
	top:10%;
	left:5%;
}

#contactme {
	position:absolute;
	top:10%;
	left:55%;
}

/*
 * Styles for the Blog page.
 */
.blog_post {
	background-color:rgb(56, 56, 56);
	margin: 10%;
	text-align:center;
	padding:50px;
	list-style-type: none;
}

#blog_feed {
	text-align:center;
}
